<!DOCTYPE html>
<html lang="en" ng-app="gameApp">
<head>
    <link rel="stylesheet" type="text/css" href="App/css/centipede.css">
    <title>Centipede</title>
</head>
<body ng-controller="AppController" ng-keydown="keydown($event)" ng-keyup="keyup($event)"  style="background-color:darkgrey">
    <div data-ng-if="!instructionsDisplayed" class="instructions">
        <h2>Instructions</h2>
        <p>Shoot everything and stay alive</p>
        <p>Arrow Keys to move</p>
        <p>Space bar to fire</p>
        <br>
        <p>Press any key to start</p>
    </div>
    <div data-ng-if="instructionsDisplayed" game-engine/>

    <script src="App/lib/angular.min.js"></script>
    <script src="App/gameApp.js"></script>
    <script src="App/js/CharacterStateEnum.js"></script>
    <script src="App/js/GameStateEnum.js"></script>
    <script src="App/js/BoardLocationEnum.js"></script>
    <script src="App/js/DirectionEnum.js"></script>
    <script src="App/js/SpriteEnum.js"></script>
    <script src="App/js/characters/ScoreMarker.js"></script>
    <script src="App/js/characters/Player.js"></script>
    <script src="App/js/characters/Bullet.js"></script>
    <script src="App/js/characters/Centipede.js"></script>
    <script src="App/js/characters/CentipedeBody.js"></script>
    <script src="App/js/characters/Flea.js"></script>
    <script src="App/js/characters/Spider.js"></script>
    <script src="App/js/characters/Snail.js"></script>
    <script src="App/js/services/GlobalSettings.js"></script>
    <script src="App/js/services/Utils.js"></script>
    <script src="App/js/services/KeyPressHandler.js"></script>
    <script src="App/js/services/GraphicsEngine.js"></script>
    <script src="App/js/services/GameBoard.js"></script>
    <script src="App/js/services/GameEngine.js"></script>
    <script src="App/js/directives/GameEngineDirective.js"></script>
    <script src="App/js/controllers/AppController.js"></script>
    <script src="App/js/services/GameState.js"></script>
</body>
</html>
