<!DOCTYPE html>
<html ng-app="gameApp">
<head>
    <meta charset="utf-8" />
    <title>Centipede_Angular</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>
    
    <!-- Centipede_Angular references -->
    <link href="/css/centipede.css" rel="stylesheet" />

    <!-- Required to allow AngularJS to work in win store apps see https://github.com/MsopenTech/winstore-jscompat -->
    <script src="/lib/winstore-jscompat.js"></script>

    <script src="/lib/angular.min.js"></script>

    <script src="/js/default.js"></script>
    <script src="/js/gameApp.js"></script>
    <script src="/js/services/bullet.js"></script>
    <script src="/js/services/centipede.js"></script>
    <script src="/js/services/flea.js"></script>
    <script src="/js/services/game-board.js"></script>
    <script src="/js/services/game-state.js"></script>
    <script src="/js/services/game.js"></script>
    <script src="/js/services/graphics-engine.js"></script>
    <script src="/js/services/key-press-handler.js"></script>
    <script src="/js/services/local-storage.js"></script>
    <script src="/js/services/player.js"></script>
    <script src="/js/services/render.js"></script>
    <script src="/js/services/score-marker.js"></script>
    <script src="/js/services/snail.js"></script>
    <script src="/js/services/spider.js"></script>
    <script src="/js/services/utils.js"></script>
    <script src="/js/constants/board-location.js"></script>
    <script src="/js/constants/character-direction.js"></script>
    <script src="/js/constants/character-state.js"></script>
    <script src="/js/constants/coordinate-system.js"></script>
    <script src="/js/constants/game-state.js"></script>
    <script src="/js/constants/global-settings.js"></script>
    <script src="/js/constants/sprite.js"></script>

</head>
<body ng-controller="appController" ng-keydown="keydown($event)" ng-keyup="keyup($event)">
    <div data-win-control="WinJS.UI.ViewBox">
        <div class="fixedlayout">
            <div data-ng-if="!instructionsDisplayed" class="instructions">
                <br>
                <br>
                <br>
                <h2>Instructions</h2>
                <p>Shoot everything and stay alive</p>
                <p>Arrow Keys to move</p>
                <p>Space bar to fire</p>
                <br>
                <p>CLICK TO GET FOCUS</p>
                <br>
                <p>Then press any key to start</p>
            </div>
            <div data-ng-if="instructionsDisplayed" centipede-game/>
        </div>
    </div>
</body>
</html>
